$brown-primary: #6c3d1f;
$white-primary: #dbcec3;
$white-secondary: #9d928a;

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    background-color: $brown-primary;
    color: $white-primary;
    height: 25vh;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        color: $white-primary;
    }
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;

    .footer-map {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        width: 33%;

        .footer-titles {
            margin-bottom: .5em;
        }
    }

    .options-wrapper {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;
        width: 70%;

        .footer-options {
            padding: 0em .5em;
            font-size: 20px;
            color: $white-primary;
            text-decoration: none;
        }

        .footer-options:hover {
            color: $white-secondary;
            text-decoration: underline;
        }

        .footer-options-selected {
            padding: 0em .5em;
            font-size: 20px;
            color: $white-secondary;
            text-decoration: underline;
        }
    }
}

.icon-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .icon:hover {
        color: $white-secondary
    }
}