.title-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-family: 'Caveat', cursive;
    font-size: 35px;
    margin: 2em;
    font-weight: bold;
}